<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>圖書介購系統</title>
</head>
<body>
<div id="wrapper">
  <h3>公布欄</h3>
    <th><table id="Table1" class="table table-list" border="0"></th><!-- Noncompliant -->
      <tr>
        <td bgcolor="#5B00AE">2020/5/19 8:19:39</font></td>
      </tr>
      <tr>
        <td><a onClick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=47&displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">薦購系統E-mail自動通知功能暫停公告</a></font></td>
      </tr>
      <tr>
        <td bgcolor="#5B00AE">2020/3/17 16:28:33</font></td>
      </tr>
      <tr>
         <td><a onClick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=45&displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">簡體書延遲到貨公告</a></font></td>
       </tr>
      <tr>
        <td bgcolor="#5B00AE">2020/3/17 16:23:6</font></td>
      </tr>
      <tr>
        <td><a onClick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=10&displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">各類資源薦購額度與作業方式一覽表</a></font></td>
      </tr>
    </table>
</div><!-- #blk-board -->

</body>
</html>
